
	body{
              background-image:url("/home/Sem6B10/Downloads/index1.jpg");
		background-repeat:repeat;
		background-attachment:fixed;}
		
		

		h1{color:blue; margin-left:40px; }
			
			
		 

		p{color:purple; font-size:20;}
	   
			
			
		 
